@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 0, 0, 0;
  --primary-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --primary-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--primary-rgb));
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.text-rainbow {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-color: #333333;
  background-image: linear-gradient(var(--rotate, 132deg), #fb7b4a, #ff9c48, #fac83b, #64d39b, #5b97f2, #7a79fe, #c256d6);
  background-size: contain;
  animation: spin 5s linear infinite;
}

.border-rainbow {
  position: relative;
}
.border-rainbow::before {
  @apply rounded-lg p-1 opacity-50;
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--rotate, 132deg), #fb7b4a, #ff9c48, #fac83b, #64d39b, #5b97f2, #7a79fe, #c256d6);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spin 5s linear infinite;
}

.glow-rainbow {
  @apply relative z-10;
}

.glow-rainbow::after {
  @apply -z-10;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: blur(3rem);
  /* background-image: linear-gradient(var(--rotate, 132deg), #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff); */
  background-image: linear-gradient(var(--rotate, 132deg), #fb7b4a, #ff9c48, #fac83b, #64d39b, #5b97f2, #7a79fe, #c256d6);
  animation: spin 8s linear infinite, glow 5s linear infinite;
  transition: opacity 1s ease-in-out;
}

.glow-rainbow:hover::after {
  @apply opacity-70;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

@keyframes glow {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}

.glassmorphism {
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.animated-filter {
  background-image: linear-gradient(var(--rotate, 132deg), rgba(255, 255, 255, 0.5));
}

.skeleton-loading {
  background-size: 600% 100%;
  background-image: linear-gradient(110deg, #20282e 8%, #29323a 18%, #20282e 33%);
  animation: skeleton-move 5s linear infinite;
}

.fade-in {
  animation: fade-in 3s forwards;
}

button.secondary {
  @apply bg-transparent border border-[#333333] text-white;
}

@keyframes skeleton-move {
  from {
    background-position-x: 200%;
  }

  to {
    background-position-x: -200%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.div.google-visualization-tooltip {
  @apply bg-transparent;
}

.slider-wrapper {
  @apply w-screen h-screen;
  position: relative;
  overflow-x: hidden;
}

.slider-wrapper::before,
.slider-wrapper::after {
  @apply w-1/2;
  background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  z-index: 2;
}

.slider-wrapper::before {
  left: 0;
  top: 0;
}

.slider-wrapper::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider {
  height: 100%;
  animation: scroll 6s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1656px);
  }
}
